body, h1, ul {
    margin: 0;
    padding: 0;
}

/* Set a background color */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.hallOfShameButton {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 20px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 30px;
}

.product-button:hover {
    background-color: #c0392b;
}

