.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*Start page*/

.welcome_container{
  font-size: 30px;
  gap: 30px;
  text-align: center;
  justify-content: center; 
  align-items: center;
  height: 100vh; 
}

.homePage_background {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;

  display: flex;              /* allow child alignment */
  flex-direction: column;     /* stack children vertically */
  justify-content: center;    /* vertical center */
  align-items: center;        /* horizontal center */
  color: white;               /* make text visible */
  text-shadow: 2px 2px 5px black; /* optional for readability */
}


.get-started-button {
  padding: 15px 25px;
  font-size: 23px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  top: -100px;
}

.get-started-button:hover {
  background-color: #45a049;
}

/* Menu */

.menu-container {
  position: absolute;
  overflow-x: hidden;
  top: 100vh;
  /* Initially off-screen */
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  /* Adjust background opacity as needed */
  transition: top 0.3s ease;
  /* Smooth transition for top property */
  overflow-y: auto;
  /* Enable vertical scrolling */
  z-index: 2;
  /* Ensure it's above landing page content */
  backdrop-filter: blur(5px);
}

.menu-container.visible {
  top: 0;
}

.menu-header {
  position: sticky;
  top: 0;
  width: 100%;
  background: #f5f5f5;
  padding: 20px 0;
  z-index: 10;
  

  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.menuButtons-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 50px;
  width: 100%;
}

.hallOfShame-button {
  padding: 15px 25px;
  font-size: 23px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
  margin-bottom: 20px;
}

.hallOfShame-button:hover {
  background-color: #45a049;
}
.booking-button {
  padding: 15px 25px;
  font-size: 23px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
  margin-bottom: 20px;
}

.booking-button:hover {
  background-color: #45a049;
}

.return-button {
  padding: 15px 25px;
  font-size: 23px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;

  position: fixed;
  bottom: 20px;
  right: 20px
}

.return-button:hover {
  background-color: #45a049;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
